{% extends 'base.html' %}
{% block title %}Crear Partido{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4">Crear Partido</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrar Partido</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'core:admin_torneos_list' %}">Volver a torneos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}