{% extends 'base.html' %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card shadow-lg">
      <div class="card-body p-5">
        <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
        <form method="POST" action="{% url 'users:login' %}">
          {% csrf_token %}
          <div class="mb-4">
            <label for="username" class="form-label">Cédula</label>
            <input type="text" name="username" id="username" class="form-control" required>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center py-3">
        <p class="mb-0">¿No tienes una cuenta? <a href="{% url 'users:register' %}">Regístrate</a></p>
        {% if form.errors %}
          <div class="alert alert-danger mt-3">
            {% for field in form %}
              {% for error in field.errors %}
                <p class="mb-0">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <p class="mb-0">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}